//===  Variables ===
@import "variables";
//===  Variables ===


//=== Media ===

//SECTION-1
@media (min-width: 365px) {
  .section-1-content h1 {
    padding-top: 20px;
  }
  .buttons button {
    padding: 5px 15px;
  }
  .section-inner {
    height: 100%;
  }
}

@media (min-width: $sm) {
  .section-1-content h1 {
    padding-top: 100px;
  }
}

//SECTION-1




//=== Media ===