.button {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #282528;
  //background: yellow;
  cursor: pointer;
  position: relative;
  z-index: 0;
  //border-radius: 10px;
}

.button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  //border-radius: 10px;
}

.button:active {
  color: #000
}

.button:active:after {
  background: transparent;
}

.button:hover:before {
  opacity: 1;
}

.button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: yellow;
  left: 0;
  top: 0;
  //border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/*
.button {
  color: $white;
  border: 2px solid;
  background: transparent;
  padding: 10px 25px;
  font-weight: 600;
  transition: .5s;
  img {
    margin-right: 10px;
  }
  &:hover {
    color: yellow;
    border-color: yellow;
  }
}
*/
