//===  Variables ===
@import "variables";
//===  Variables ===

.footer {
  a {
    color: #282528;
  }

  a:hover {
    text-decoration: none;
    color: #282528;
  }

  h4 {
    padding-bottom: 25px;
    font-weight: bold;
  }

  .navbar-brand {
    padding-top: 0;
    padding-bottom: 20px;
    font-weight: bold;
  }

  .navbar-brand img {
    margin-top: -20px;
  }

  .my_name a {
    font-size: 13px;
  }
}

.wrapper_footer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  padding-top: 100px;

  .block__footer {
    flex: 1 1 calc(25% - 30px);
    width: 25%;
    min-width: 220px;

    .lists {
      display: flex;

      .first_list, .second_list {
        list-style-type: none;
        padding: 0;
      }

      .second_list {
        padding-left: 50px;
        padding-right: 20px;
      }
    }

    .lists li {
      padding-bottom: 15px;
    }
  }

  .umbrella {
    padding-right: 15px;
  }

  .block__footer form {
    padding-bottom: 20px;
  }

  .block__footer:last-child {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-bottom: 20px;
    font-style: italic;
  }
}

/*Input*/
input {
  width: 90%;
  height: 45px;
  outline: none;
  padding: 10px 15px;
}

.input-group-btn {
  position: relative;
}

footer button {
  position: absolute;
  left: -45px;
  top: -10px;
  background: #fff;
  border: none;
}

/*Input*/

@media (min-width: $md) {
  .author-name {
    justify-content: center;
  }
}
@media (max-width: $max-md) {
  .block__footer {
    flex: 1 1 calc(50% - 30px);
  }
  .author-name, .umbrella {
    order: -1;
  }
}
@media (max-width: $sm) {
  .wrapper_footer {
    flex-direction: column;
    .block__footer {
      width: 90%;
      .navbar-brand {
        display: flex;
        justify-content: center;
      }
    }
    .author-name {
      justify-content: center;
    }
  }
  .subscribe, .explore {
    display: none;
  }
}







