header {
  margin: 0 -30px 0 -30px;

  .navbar {
    padding: 15px 30px;

    .nav-item.nav-link {
      color: #282528;

      &.active {
        font-weight: bold;
      }
    }
    .navbar-brand img {
      margin-top: -5px;
    }

  }
}