.section-3 {
  background-color: #fafafa;
  padding-bottom: 30px;
  .test {
    padding-bottom: 100px;
  }

  //slider NAV style
  .owl-dot {
    outline: none;
  }
  .owl-theme .owl-dots .owl-dot.active span {
    width: 12px;
    height: 12px;
    background: none;
    border: 2px solid black;
  }
  //slider NAV style
}

//===  Variables ===
@import "variables";
//===  Variables ===

