//===  Variables ===
@import "variables";
//===  Variables ===


.section-7 {
  border-bottom: 10px solid #f8e514;
  p span {
    font-weight: bold;
    color: #282528;
    font-size: 24px;
  }
  input {
    border: none;
    border-bottom: 1px solid;
    padding: 10px 15px;
    width: 100%;

    &:focus {
      outline: none;
      background: yellow;
    }

    &::placeholder {
      font-size: 13px;
      color: #5b646e;
    }
  }
  .section-7_text {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .section-7_text a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
    font-size: 20px;
  }
  .post::before {
    background: url('../img/Post.png') no-repeat;
    content: "";
    float: left;
    height: 23px;
    width: 35px;
    margin-right: 15px;
  }



  /*Icon Social Network*/



  $icon-size	  : 60px;
  $border-radius: 0.5;//15% = 0.15, 50% = 0.50 etc.
  
  
  // Icon Colors
  $green        : #16A085;
  $red          : #C82647;
  $green-l      : #8CC63F;
  $orange       : #EB9532;
  $purple       : #7E3661;
  
  // Text
  $white		  : #FFFFFF;
  
  
  .icon-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 30px;
  }
  
  .icon{
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    margin-left: $icon-size/5;
    margin-right: $icon-size/5;
    border-radius: $icon-size*$border-radius;
    overflow: hidden;
    &::before, &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: all 0.25s ease;
      border-radius: $icon-size*$border-radius;
    }
    i{
      position: relative;
      color: black;
      font-size: $icon-size/2;
      text-align: center;
      margin-top: $icon-size/4;
      margin-left: $icon-size/4;
      transition: all 0.25s ease;
    }
  }
  
  .icon-fill{
    &::before{
      transition-duration: 0.5s;
      box-shadow: inset 0 0 0 1px $green;
    }
    &:hover::before{
      box-shadow: inset 0 0 0 $icon-size $green;
    }
  }
  
  .icon-facebook{
    
    &::after{
      box-shadow: inset 0 0 0 1px $orange;
    }
    &::before{
      border-radius: 0;
      margin-left: -100%;
      box-shadow: inset 0 0 0 $icon-size $orange;
    }
    &:hover::before{
      margin-left: 0;
    }
    i {
        margin-left: $icon-size/4+5px;
    }
  }
  
  .icon-expand{
    &::after{
      box-shadow: inset 0 0 0 1px $red;
    }
    &::before{
      background: $red;
      box-shadow: inset 0 0 0 $icon-size white;
    }
    &:hover::before{
      box-shadow: inset 0 0 0 1px white;
    }
    i {
      margin-left: $icon-size/4+2px;
    }
  }
  
  .icon-collapse{
    &::before{
      border-radius: 0;
    }
    &:hover::before{
      box-shadow: 
      inset 0 $icon-size/2 0 0 $green-l,
      inset 0 $icon-size/-2 0 0 $green-l;
    }
    &::after{
      box-shadow: inset 0 0 0 1px $green-l;
    }
  }
  
  .icon-rotate{
    box-shadow: inset 0 0 0 1px $purple;
    &::after, &::before{
      border: 0px solid transparent;
    }
    &:hover::before{
      transition:
        border-top-width 0.3s ease,
        border-top-color 0.3s ease;
      border-width: $icon-size;
      border-top-color: $purple;
    }
    &:hover::after{
      transition:
        border-left-width 0.3s ease,
        border-left-color 0.3s ease;
      border-width: $icon-size;
      border-left-color: $purple;
    }
    &:hover{
      transition: background 0.001s ease 0.3s;
      background: $purple;
    }
    i{
      z-index: 1;
    }
  }


  /*Icon Social Network*/




  .section-7_image img {
    max-width: 100%;

  }
  .section-7_image {
    position:absolute;   /*Прижата картинка до нижнього блока*/
    bottom:0;
  }
}


@media (max-width: $sm) {
  .section-7 .icon {
    margin: 0;
  }
}

@media (max-width: $max-md) {
  .section-7 .icon-container {
    flex-direction: row;
    margin-top: 0;
    padding-bottom: 50px;
    justify-content: space-around;
  }
}
@media (max-width: $max-lg) {
  .section-7 .section-7_text {
    padding-top: 25px;
    padding-bottom: 50px;
  }
}
@media (min-width: $xl) {
  .section-7_image img {
    max-height: 100%;
  }
}



















