//===  Variables ===
@import "variables";
//===  Variables ===

.section-5 {
  padding-bottom: 100px;
  background: #fafafa;

  .section-5_image {
    background-color: #e9eaeb;
    height: 250px;
    position: relative;
  }

  .block {
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: #f8e72b;
    display: none;
    text-align: center;

    .section-5__icons {
      display: flex;
      justify-content: center;
      padding: 10%;
    }

    .section-5__icons img {
      padding: 5px;
    }
  }

  .section-5__text-inner p {
    text-decoration: none;
    color: #282528;
    font-size: 16px;
    padding: 5%;
  }

  .section-5_image:hover .block {
    display: block;
  }

  .section-5__text-outer a {
    color: #282528;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
  }
}

//slider NAV style
.section-5 {
  .owl-dot {
    outline: none;
  }

  .owl-theme .owl-dots .owl-dot.active span {
    background: none;
    width: 12px;
    height: 12px;
    border: 2px solid black;
  }
}

//slider NAV style


//=== Media ===


//=== Media ===