
$white: white;


.section-1 {
  background: black;
  padding-top: 30px;
  // opacity: 0.9;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; // delete scroll on SM
  &-content {
    h1 {
      font-size: 42px;
      display: block;
      color: $white;
      span {
        font-weight: bold;
      }
    }
    a span {
      color: $white;
      font-size: 22px;
      margin-bottom: 15px;
      font-weight: 600;
    }
    ul {
      padding: 0;
    }
    li, li a {
      list-style-type: none;
      font-size: 16px;
      color: $white;
      text-decoration: none;
    }
    li:before {
      content: ">";
      margin-right: 10px;
    }
    .buttons {
      display: flex;
      width: 100%;
      padding-top: 50px;
      white-space: nowrap;
    }
    .button {
      outline: none;
    }
    .first {
      margin-right: 15px;
    }

  }
}