.section-2 {
  .phone_block {
    display: flex;

    h3 {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 10px;
    }

    .text_block {
      text-align: left;
      font-size: 13px;
    }
  }
  .middle_img {
    max-width: 100%;
  }
}

//SECTION-2
//===  Variables ===
@import "variables";
//===  Variables ===

@media (min-width: $md) {
  .section-2 {
    padding-bottom: 0;
  }
  .text-section p, .phone_block {
    padding-bottom: 50px;
  }
  .middle_img {
    max-width: 100%;
  }
  .img_block {
    padding-right: 30px;
  }
}

@media (max-width: $max-md) {
  .middle_img {
    max-width: 100%;
    max-height: 50vh; // пів екрана
  }
  .img_block, .text-section p {
    padding: 0;
  }
  .section-2 .phone_block:first-child {
    margin: 0;
  }
  .phone_block {
    padding: 50px 0 50px;
  }
}

@media (min-width: $lg) {
  .section-2 {
    padding-bottom: 100px;
  }
  .section-2 .phone_block {
    padding-bottom: 20%;
  }
}

//SECTION-2
