
@import "media";
@import "header";
@import "section-1";
@import "section-2";
@import "section-3";
@import "section-4";
@import "section-5";
@import "section-6";
@import "section-7";
@import "footer";
@import "button";
@import "libs";
@import "variables";


body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}


.text-section p {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  //padding-bottom: 80px;
}
/*Border h2*/
h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 100px;
  padding-bottom: 100px;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #babdc1;
  min-width: 60px;
}
.separator::before {
  margin-right: 30px;
}
.separator::after {
  margin-left: 30px;
}
/*Border h2*/

@media (max-width: $max-md) {
  .separator::before {
    margin-right: 15px;
  }
  .separator::after {
    margin-left: 15px;
  }
  .text-section {
    padding-bottom: 50px;
  }
}
@media (max-width: $sm) {
  .separator::before {
    margin-right: 15px;
  }
  .separator::after {
    margin-left: 15px;
  }
}
@media (min-width: $lg) {
  .text-section {
    padding-bottom: 100px;
  }
}



